.border {
    -fx-border-color: #4682B4;
    -fx-border-radius: 5px;
}

.border-button {
    -fx-background-color: #4682B4; /* Cor de fundo */
    -fx-text-fill: white; /* Cor do texto */
    -fx-border-radius: 5px;
}

.border-button:hover {
    -fx-background-color: #87CEEB; /* Cor ao passar o mouse */
}